{% block content %}
<div class="row parallax" style="position:relative">
    <div class="div-image-fullwidth grayscale" style="background-image:url({{ file_url(content.field_header_image.0['#item'].entity.uri.value) }});"></div>
	<img src="{{ file_url(content.field_header_image.0['#item'].entity.uri.value) }}" class="hero-img" style="display:none" />
</div>
{% endblock %}
