<div class="slide-item-text-overlapped" style="background: url({{ file_url(node.field_image.entity.fileuri) }}) no-repeat;">
    <div class="container">
        <h4 class="text-uppercase title">{{ content.title }}</h4>
        <div class="description mt20">
            {{ content.body }}
        </div>
        <div class="list-country mt20">
        Read more
        </div>
    </div>
</div>