<div class="col-xs-12 col-sm-4 how-to-contribute-item text-center">
    <div class="contribute-thumbnail-container">
        <div class="div-background-image contribute-thumbnail"
            style="background-image:url({{ content.field_image.0 }})">
        </div>
    </div>
    <div class="contribute-title">{{ content.field_ptitle.0 }}</div>
    <div class="contribute-document-link">
        <a target="_blank" href="{{ content.field_document.0 }}" class="readmore">Download</a>
    </div>
</div>